<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense tracker</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <h1>Tract It</h1>
    <div class="main">
        <div class="inputbox">
            <input type="text" id='worktittle' placeholder="tittle">
            <button id="add">ADD</button>
        </div>
    </div>
    <div id="collection-container">
        <details>
            <div>
            <summary>kasana</summary>
           
           <table>
            <thead>
                <tr>
                    <th>expence name</th>
                    <th>date</th>
                    <th>final Expense</th>
                </tr>
            <tbody>
                <tr>
                    <td>iron rod</td>
                    <td>12.12.12</td>
                    <td>$9089</td>

                </tr>
            </tbody>    

            </thead>
           </table>
            </details>
            </div>


    </div>

    <script src="static/script.js"></script>

</body>
</html>